body {
  background-color: #f8f9fa;
}

.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode .card,
.dark-mode .list-group-item {
  background-color: #1e1e1e;
  color: #ffffff;
}

section {
  scroll-margin-top: 90px;
}

h2 {
  margin-bottom: 1rem;
}
